.bg-Black {
    background-color: #000000;
  }
  
  .bg-Maroon {
    background-color: #800000;
  }
  
  .bg-Green {
    background-color: #008000;
  }
  
  .bg-Olive {
    background-color: #808000;
  }
  
  .bg-Navy {
    background-color: #000080;
  }
  
  .bg-Purple {
    background-color: #800080;
  }
  
  .bg-Teal {
    background-color: #008080;
  }
  
  .bg-Silver {
    background-color: #c0c0c0;
  }
  
  .bg-Grey {
    background-color: #808080;
  }
  
  .bg-Red {
    background-color: #ff0000;
  }
  
  .bg-Lime {
    background-color: #00ff00;
  }
  
  .bg-Yellow {
    background-color: #ffff00;
  }
  
  .bg-Blue {
    background-color: #0000ff;
  }
  
  .bg-Fuchsia {
    background-color: #ff00ff;
  }
  
  .bg-Aqua {
    background-color: #00ffff;
  }
  
  .bg-White {
    background-color: #ffffff;
  }
  
  .bg-Grey0 {
    background-color: #000000;
  }
  
  .bg-NavyBlue {
    background-color: #00005f;
  }
  
  .bg-DarkBlue {
    background-color: #000087;
  }
  
  .bg-Blue3 {
    background-color: #0000af;
    background-color: #0000d7;
  }
  
  .bg-Blue1 {
    background-color: #0000ff;
  }
  
  .bg-DarkGreen {
    background-color: #005f00;
  }
  
  .bg-DeepSkyBlue4 {
    background-color: #005f5f;
    background-color: #005f87;
    background-color: #005faf;
  }
  
  .bg-DodgerBlue3 {
    background-color: #005fd7;
  }
  
  .bg-DodgerBlue2 {
    background-color: #005fff;
  }
  
  .bg-Green4 {
    background-color: #008700;
  }
  
  .bg-SpringGreen4 {
    background-color: #00875f;
  }
  
  .bg-Turquoise4 {
    background-color: #008787;
  }
  
  .bg-DeepSkyBlue3 {
    background-color: #0087af;
    background-color: #0087d7;
  }
  
  .bg-DodgerBlue1 {
    background-color: #0087ff;
  }
  
  .bg-Green3 {
    background-color: #00af00;
  }
  
  .bg-SpringGreen3 {
    background-color: #00af5f;
  }
  
  .bg-DarkCyan {
    background-color: #00af87;
  }
  
  .bg-LightSeaGreen {
    background-color: #00afaf;
  }
  
  .bg-DeepSkyBlue2 {
    background-color: #00afd7;
  }
  
  .bg-DeepSkyBlue1 {
    background-color: #00afff;
  }
  
  .bg-Green3 {
    background-color: #00d700;
  }
  
  .bg-SpringGreen3 {
    background-color: #00d75f;
  }
  
  .bg-SpringGreen2 {
    background-color: #00d787;
  }
  
  .bg-Cyan3 {
    background-color: #00d7af;
  }
  
  .bg-DarkTurquoise {
    background-color: #00d7d7;
  }
  
  .bg-Turquoise2 {
    background-color: #00d7ff;
  }
  
  .bg-Green1 {
    background-color: #00ff00;
  }
  
  .bg-SpringGreen2 {
    background-color: #00ff5f;
  }
  
  .bg-SpringGreen1 {
    background-color: #00ff87;
  }
  
  .bg-MediumSpringGreen {
    background-color: #00ffaf;
  }
  
  .bg-Cyan2 {
    background-color: #00ffd7;
  }
  
  .bg-Cyan1 {
    background-color: #00ffff;
  }
  
  .bg-DarkRed {
    background-color: #5f0000;
  }
  
  .bg-DeepPink4 {
    background-color: #5f005f;
  }
  
  .bg-Purple4 {
    background-color: #5f0087;
    background-color: #5f00af;
  }
  
  .bg-Purple3 {
    background-color: #5f00d7;
  }
  
  .bg-BlueViolet {
    background-color: #5f00ff;
  }
  
  .bg-Orange4 {
    background-color: #5f5f00;
  }
  
  .bg-Grey37 {
    background-color: #5f5f5f;
  }
  
  .bg-MediumPurple4 {
    background-color: #5f5f87;
  }
  
  .bg-SlateBlue3 {
    background-color: #5f5faf;
    background-color: #5f5fd7;
  }
  
  .bg-RoyalBlue1 {
    background-color: #5f5fff;
  }
  
  .bg-Chartreuse4 {
    background-color: #5f8700;
  }
  
  .bg-DarkSeaGreen4 {
    background-color: #5f875f;
  }
  
  .bg-PaleTurquoise4 {
    background-color: #5f8787;
  }
  
  .bg-SteelBlue {
    background-color: #5f87af;
  }
  
  .bg-SteelBlue3 {
    background-color: #5f87d7;
  }
  
  .bg-CornflowerBlue {
    background-color: #5f87ff;
  }
  
  .bg-Chartreuse3 {
    background-color: #5faf00;
  }
  
  .bg-DarkSeaGreen4 {
    background-color: #5faf5f;
  }
  
  .bg-CadetBlue {
    background-color: #5faf87;
    background-color: #5fafaf;
  }
  
  .bg-SkyBlue3 {
    background-color: #5fafd7;
  }
  
  .bg-SteelBlue1 {
    background-color: #5fafff;
  }
  
  .bg-Chartreuse3 {
    background-color: #5fd700;
  }
  
  .bg-PaleGreen3 {
    background-color: #5fd75f;
  }
  
  .bg-SeaGreen3 {
    background-color: #5fd787;
  }
  
  .bg-Aquamarine3 {
    background-color: #5fd7af;
  }
  
  .bg-MediumTurquoise {
    background-color: #5fd7d7;
  }
  
  .bg-SteelBlue1 {
    background-color: #5fd7ff;
  }
  
  .bg-Chartreuse2 {
    background-color: #5fff00;
  }
  
  .bg-SeaGreen2 {
    background-color: #5fff5f;
  }
  
  .bg-SeaGreen1 {
    background-color: #5fff87;
    background-color: #5fffaf;
  }
  
  .bg-Aquamarine1 {
    background-color: #5fffd7;
  }
  
  .bg-DarkSlateGray2 {
    background-color: #5fffff;
  }
  
  .bg-DarkRed {
    background-color: #870000;
  }
  
  .bg-DeepPink4 {
    background-color: #87005f;
  }
  
  .bg-DarkMagenta {
    background-color: #870087;
    background-color: #8700af;
  }
  
  .bg-DarkViolet {
    background-color: #8700d7;
  }
  
  .bg-Purple {
    background-color: #8700ff;
  }
  
  .bg-Orange4 {
    background-color: #875f00;
  }
  
  .bg-LightPink4 {
    background-color: #875f5f;
  }
  
  .bg-Plum4 {
    background-color: #875f87;
  }
  
  .bg-MediumPurple3 {
    background-color: #875faf;
    background-color: #875fd7;
  }
  
  .bg-SlateBlue1 {
    background-color: #875fff;
  }
  
  .bg-Yellow4 {
    background-color: #878700;
  }
  
  .bg-Wheat4 {
    background-color: #87875f;
  }
  
  .bg-Grey53 {
    background-color: #878787;
  }
  
  .bg-LightSlateGrey {
    background-color: #8787af;
  }
  
  .bg-MediumPurple {
    background-color: #8787d7;
  }
  
  .bg-LightSlateBlue {
    background-color: #8787ff;
  }
  
  .bg-Yellow4 {
    background-color: #87af00;
  }
  
  .bg-DarkOliveGreen3 {
    background-color: #87af5f;
  }
  
  .bg-DarkSeaGreen {
    background-color: #87af87;
  }
  
  .bg-LightSkyBlue3 {
    background-color: #87afaf;
    background-color: #87afd7;
  }
  
  .bg-SkyBlue2 {
    background-color: #87afff;
  }
  
  .bg-Chartreuse2 {
    background-color: #87d700;
  }
  
  .bg-DarkOliveGreen3 {
    background-color: #87d75f;
  }
  
  .bg-PaleGreen3 {
    background-color: #87d787;
  }
  
  .bg-DarkSeaGreen3 {
    background-color: #87d7af;
  }
  
  .bg-DarkSlateGray3 {
    background-color: #87d7d7;
  }
  
  .bg-SkyBlue1 {
    background-color: #87d7ff;
  }
  
  .bg-Chartreuse1 {
    background-color: #87ff00;
  }
  
  .bg-LightGreen {
    background-color: #87ff5f;
    background-color: #87ff87;
  }
  
  .bg-PaleGreen1 {
    background-color: #87ffaf;
  }
  
  .bg-Aquamarine1 {
    background-color: #87ffd7;
  }
  
  .bg-DarkSlateGray1 {
    background-color: #87ffff;
  }
  
  .bg-Red3 {
    background-color: #af0000;
  }
  
  .bg-DeepPink4 {
    background-color: #af005f;
  }
  
  .bg-MediumVioletRed {
    background-color: #af0087;
  }
  
  .bg-Magenta3 {
    background-color: #af00af;
  }
  
  .bg-DarkViolet {
    background-color: #af00d7;
  }
  
  .bg-Purple {
    background-color: #af00ff;
  }
  
  .bg-DarkOrange3 {
    background-color: #af5f00;
  }
  
  .bg-IndianRed {
    background-color: #af5f5f;
  }
  
  .bg-HotPink3 {
    background-color: #af5f87;
  }
  
  .bg-MediumOrchid3 {
    background-color: #af5faf;
  }
  
  .bg-MediumOrchid {
    background-color: #af5fd7;
  }
  
  .bg-MediumPurple2 {
    background-color: #af5fff;
  }
  
  .bg-DarkGoldenrod {
    background-color: #af8700;
  }
  
  .bg-LightSalmon3 {
    background-color: #af875f;
  }
  
  .bg-RosyBrown {
    background-color: #af8787;
  }
  
  .bg-Grey63 {
    background-color: #af87af;
  }
  
  .bg-MediumPurple2 {
    background-color: #af87d7;
  }
  
  .bg-MediumPurple1 {
    background-color: #af87ff;
  }
  
  .bg-Gold3 {
    background-color: #afaf00;
  }
  
  .bg-DarkKhaki {
    background-color: #afaf5f;
  }
  
  .bg-NavajoWhite3 {
    background-color: #afaf87;
  }
  
  .bg-Grey69 {
    background-color: #afafaf;
  }
  
  .bg-LightSteelBlue3 {
    background-color: #afafd7;
  }
  
  .bg-LightSteelBlue {
    background-color: #afafff;
  }
  
  .bg-Yellow3 {
    background-color: #afd700;
  }
  
  .bg-DarkOliveGreen3 {
    background-color: #afd75f;
  }
  
  .bg-DarkSeaGreen3 {
    background-color: #afd787;
  }
  
  .bg-DarkSeaGreen2 {
    background-color: #afd7af;
  }
  
  .bg-LightCyan3 {
    background-color: #afd7d7;
  }
  
  .bg-LightSkyBlue1 {
    background-color: #afd7ff;
  }
  
  .bg-GreenYellow {
    background-color: #afff00;
  }
  
  .bg-DarkOliveGreen2 {
    background-color: #afff5f;
  }
  
  .bg-PaleGreen1 {
    background-color: #afff87;
  }
  
  .bg-DarkSeaGreen2 {
    background-color: #afffaf;
  }
  
  .bg-DarkSeaGreen1 {
    background-color: #afffd7;
  }
  
  .bg-PaleTurquoise1 {
    background-color: #afffff;
  }
  
  .bg-Red3 {
    background-color: #d70000;
  }
  
  .bg-DeepPink3 {
    background-color: #d7005f;
    background-color: #d70087;
  }
  
  .bg-Magenta3 {
    background-color: #d700af;
    background-color: #d700d7;
  }
  
  .bg-Magenta2 {
    background-color: #d700ff;
  }
  
  .bg-DarkOrange3 {
    background-color: #d75f00;
  }
  
  .bg-IndianRed {
    background-color: #d75f5f;
  }
  
  .bg-HotPink3 {
    background-color: #d75f87;
  }
  
  .bg-HotPink2 {
    background-color: #d75faf;
  }
  
  .bg-Orchid {
    background-color: #d75fd7;
  }
  
  .bg-MediumOrchid1 {
    background-color: #d75fff;
  }
  
  .bg-Orange3 {
    background-color: #d78700;
  }
  
  .bg-LightSalmon3 {
    background-color: #d7875f;
  }
  
  .bg-LightPink3 {
    background-color: #d78787;
  }
  
  .bg-Pink3 {
    background-color: #d787af;
  }
  
  .bg-Plum3 {
    background-color: #d787d7;
  }
  
  .bg-Violet {
    background-color: #d787ff;
  }
  
  .bg-Gold3 {
    background-color: #d7af00;
  }
  
  .bg-LightGoldenrod3 {
    background-color: #d7af5f;
  }
  
  .bg-Tan {
    background-color: #d7af87;
  }
  
  .bg-MistyRose3 {
    background-color: #d7afaf;
  }
  
  .bg-Thistle3 {
    background-color: #d7afd7;
  }
  
  .bg-Plum2 {
    background-color: #d7afff;
  }
  
  .bg-Yellow3 {
    background-color: #d7d700;
  }
  
  .bg-Khaki3 {
    background-color: #d7d75f;
  }
  
  .bg-LightGoldenrod2 {
    background-color: #d7d787;
  }
  
  .bg-LightYellow3 {
    background-color: #d7d7af;
  }
  
  .bg-Grey84 {
    background-color: #d7d7d7;
  }
  
  .bg-LightSteelBlue1 {
    background-color: #d7d7ff;
  }
  
  .bg-Yellow2 {
    background-color: #d7ff00;
  }
  
  .bg-DarkOliveGreen1 {
    background-color: #d7ff5f;
    background-color: #d7ff87;
  }
  
  .bg-DarkSeaGreen1 {
    background-color: #d7ffaf;
  }
  
  .bg-Honeydew2 {
    background-color: #d7ffd7;
  }
  
  .bg-LightCyan1 {
    background-color: #d7ffff;
  }
  
  .bg-Red1 {
    background-color: #ff0000;
  }
  
  .bg-DeepPink2 {
    background-color: #ff005f;
  }
  
  .bg-DeepPink1 {
    background-color: #ff0087;
    background-color: #ff00af;
  }
  
  .bg-Magenta2 {
    background-color: #ff00d7;
  }
  
  .bg-Magenta1 {
    background-color: #ff00ff;
  }
  
  .bg-OrangeRed1 {
    background-color: #ff5f00;
  }
  
  .bg-IndianRed1 {
    background-color: #ff5f5f;
    background-color: #ff5f87;
  }
  
  .bg-HotPink {
    background-color: #ff5faf;
    background-color: #ff5fd7;
  }
  
  .bg-MediumOrchid1 {
    background-color: #ff5fff;
  }
  
  .bg-DarkOrange {
    background-color: #ff8700;
  }
  
  .bg-Salmon1 {
    background-color: #ff875f;
  }
  
  .bg-LightCoral {
    background-color: #ff8787;
  }
  
  .bg-PaleVioletRed1 {
    background-color: #ff87af;
  }
  
  .bg-Orchid2 {
    background-color: #ff87d7;
  }
  
  .bg-Orchid1 {
    background-color: #ff87ff;
  }
  
  .bg-Orange1 {
    background-color: #ffaf00;
  }
  
  .bg-SandyBrown {
    background-color: #ffaf5f;
  }
  
  .bg-LightSalmon1 {
    background-color: #ffaf87;
  }
  
  .bg-LightPink1 {
    background-color: #ffafaf;
  }
  
  .bg-Pink1 {
    background-color: #ffafd7;
  }
  
  .bg-Plum1 {
    background-color: #ffafff;
  }
  
  .bg-Gold1 {
    background-color: #ffd700;
  }
  
  .bg-LightGoldenrod2 {
    background-color: #ffd75f;
    background-color: #ffd787;
  }
  
  .bg-NavajoWhite1 {
    background-color: #ffd7af;
  }
  
  .bg-MistyRose1 {
    background-color: #ffd7d7;
  }
  
  .bg-Thistle1 {
    background-color: #ffd7ff;
  }
  
  .bg-Yellow1 {
    background-color: #ffff00;
  }
  
  .bg-LightGoldenrod1 {
    background-color: #ffff5f;
  }
  
  .bg-Khaki1 {
    background-color: #ffff87;
  }
  
  .bg-Wheat1 {
    background-color: #ffffaf;
  }
  
  .bg-Cornsilk1 {
    background-color: #ffffd7;
  }
  
  .bg-Grey100 {
    background-color: #ffffff;
  }
  
  .bg-Grey3 {
    background-color: #080808;
  }
  
  .bg-Grey7 {
    background-color: #121212;
  }
  
  .bg-Grey11 {
    background-color: #1c1c1c;
  }
  
  .bg-Grey15 {
    background-color: #262626;
  }
  
  .bg-Grey19 {
    background-color: #303030;
  }
  
  .bg-Grey23 {
    background-color: #3a3a3a;
  }
  
  .bg-Grey27 {
    background-color: #444444;
  }
  
  .bg-Grey30 {
    background-color: #4e4e4e;
  }
  
  .bg-Grey35 {
    background-color: #585858;
  }
  
  .bg-Grey39 {
    background-color: #626262;
  }
  
  .bg-Grey42 {
    background-color: #6c6c6c;
  }
  
  .bg-Grey46 {
    background-color: #767676;
  }
  
  .bg-Grey50 {
    background-color: #808080;
  }
  
  .bg-Grey54 {
    background-color: #8a8a8a;
  }
  
  .bg-Grey58 {
    background-color: #949494;
  }
  
  .bg-Grey62 {
    background-color: #9e9e9e;
  }
  
  .bg-Grey66 {
    background-color: #a8a8a8;
  }
  
  .bg-Grey70 {
    background-color: #b2b2b2;
  }
  
  .bg-Grey74 {
    background-color: #bcbcbc;
  }
  
  .bg-Grey78 {
    background-color: #c6c6c6;
  }
  
  .bg-Grey82 {
    background-color: #d0d0d0;
  }
  
  .bg-Grey85 {
    background-color: #dadada;
  }
  
  .bg-Grey89 {
    background-color: #e4e4e4;
  }
  
  .bg-Grey93 {
    background-color: #eeeeee;
  }
  
  .text-Black {
    color: #000000;
  }
  
  .text-Maroon {
    color: #800000;
  }
  
  .text-Green {
    color: #008000;
  }
  
  .text-Olive {
    color: #808000;
  }
  
  .text-Navy {
    color: #000080;
  }
  
  .text-Purple {
    color: #800080;
  }
  
  .text-Teal {
    color: #008080;
  }
  
  .text-Silver {
    color: #c0c0c0;
  }
  
  .text-Grey {
    color: #808080;
  }
  
  .text-Red {
    color: #ff0000;
  }
  
  .text-Lime {
    color: #00ff00;
  }
  
  .text-Yellow {
    color: #ffff00;
  }
  
  .text-Blue {
    color: #0000ff;
  }
  
  .text-Fuchsia {
    color: #ff00ff;
  }
  
  .text-Aqua {
    color: #00ffff;
  }
  
  .text-White {
    color: #ffffff;
  }
  
  .text-Grey0 {
    color: #000000;
  }
  
  .text-NavyBlue {
    color: #00005f;
  }
  
  .text-DarkBlue {
    color: #000087;
  }
  
  .text-Blue3 {
    color: #0000af;
    color: #0000d7;
  }
  
  .text-Blue1 {
    color: #0000ff;
  }
  
  .text-DarkGreen {
    color: #005f00;
  }
  
  .text-DeepSkyBlue4 {
    color: #005f5f;
    color: #005f87;
    color: #005faf;
  }
  
  .text-DodgerBlue3 {
    color: #005fd7;
  }
  
  .text-DodgerBlue2 {
    color: #005fff;
  }
  
  .text-Green4 {
    color: #008700;
  }
  
  .text-SpringGreen4 {
    color: #00875f;
  }
  
  .text-Turquoise4 {
    color: #008787;
  }
  
  .text-DeepSkyBlue3 {
    color: #0087af;
    color: #0087d7;
  }
  
  .text-DodgerBlue1 {
    color: #0087ff;
  }
  
  .text-Green3 {
    color: #00af00;
  }
  
  .text-SpringGreen3 {
    color: #00af5f;
  }
  
  .text-DarkCyan {
    color: #00af87;
  }
  
  .text-LightSeaGreen {
    color: #00afaf;
  }
  
  .text-DeepSkyBlue2 {
    color: #00afd7;
  }
  
  .text-DeepSkyBlue1 {
    color: #00afff;
  }
  
  .text-Green3 {
    color: #00d700;
  }
  
  .text-SpringGreen3 {
    color: #00d75f;
  }
  
  .text-SpringGreen2 {
    color: #00d787;
  }
  
  .text-Cyan3 {
    color: #00d7af;
  }
  
  .text-DarkTurquoise {
    color: #00d7d7;
  }
  
  .text-Turquoise2 {
    color: #00d7ff;
  }
  
  .text-Green1 {
    color: #00ff00;
  }
  
  .text-SpringGreen2 {
    color: #00ff5f;
  }
  
  .text-SpringGreen1 {
    color: #00ff87;
  }
  
  .text-MediumSpringGreen {
    color: #00ffaf;
  }
  
  .text-Cyan2 {
    color: #00ffd7;
  }
  
  .text-Cyan1 {
    color: #00ffff;
  }
  
  .text-DarkRed {
    color: #5f0000;
  }
  
  .text-DeepPink4 {
    color: #5f005f;
  }
  
  .text-Purple4 {
    color: #5f0087;
    color: #5f00af;
  }
  
  .text-Purple3 {
    color: #5f00d7;
  }
  
  .text-BlueViolet {
    color: #5f00ff;
  }
  
  .text-Orange4 {
    color: #5f5f00;
  }
  
  .text-Grey37 {
    color: #5f5f5f;
  }
  
  .text-MediumPurple4 {
    color: #5f5f87;
  }
  
  .text-SlateBlue3 {
    color: #5f5faf;
    color: #5f5fd7;
  }
  
  .text-RoyalBlue1 {
    color: #5f5fff;
  }
  
  .text-Chartreuse4 {
    color: #5f8700;
  }
  
  .text-DarkSeaGreen4 {
    color: #5f875f;
  }
  
  .text-PaleTurquoise4 {
    color: #5f8787;
  }
  
  .text-SteelBlue {
    color: #5f87af;
  }
  
  .text-SteelBlue3 {
    color: #5f87d7;
  }
  
  .text-CornflowerBlue {
    color: #5f87ff;
  }
  
  .text-Chartreuse3 {
    color: #5faf00;
  }
  
  .text-DarkSeaGreen4 {
    color: #5faf5f;
  }
  
  .text-CadetBlue {
    color: #5faf87;
    color: #5fafaf;
  }
  
  .text-SkyBlue3 {
    color: #5fafd7;
  }
  
  .text-SteelBlue1 {
    color: #5fafff;
  }
  
  .text-Chartreuse3 {
    color: #5fd700;
  }
  
  .text-PaleGreen3 {
    color: #5fd75f;
  }
  
  .text-SeaGreen3 {
    color: #5fd787;
  }
  
  .text-Aquamarine3 {
    color: #5fd7af;
  }
  
  .text-MediumTurquoise {
    color: #5fd7d7;
  }
  
  .text-SteelBlue1 {
    color: #5fd7ff;
  }
  
  .text-Chartreuse2 {
    color: #5fff00;
  }
  
  .text-SeaGreen2 {
    color: #5fff5f;
  }
  
  .text-SeaGreen1 {
    color: #5fff87;
    color: #5fffaf;
  }
  
  .text-Aquamarine1 {
    color: #5fffd7;
  }
  
  .text-DarkSlateGray2 {
    color: #5fffff;
  }
  
  .text-DarkRed {
    color: #870000;
  }
  
  .text-DeepPink4 {
    color: #87005f;
  }
  
  .text-DarkMagenta {
    color: #870087;
    color: #8700af;
  }
  
  .text-DarkViolet {
    color: #8700d7;
  }
  
  .text-Purple {
    color: #8700ff;
  }
  
  .text-Orange4 {
    color: #875f00;
  }
  
  .text-LightPink4 {
    color: #875f5f;
  }
  
  .text-Plum4 {
    color: #875f87;
  }
  
  .text-MediumPurple3 {
    color: #875faf;
    color: #875fd7;
  }
  
  .text-SlateBlue1 {
    color: #875fff;
  }
  
  .text-Yellow4 {
    color: #878700;
  }
  
  .text-Wheat4 {
    color: #87875f;
  }
  
  .text-Grey53 {
    color: #878787;
  }
  
  .text-LightSlateGrey {
    color: #8787af;
  }
  
  .text-MediumPurple {
    color: #8787d7;
  }
  
  .text-LightSlateBlue {
    color: #8787ff;
  }
  
  .text-Yellow4 {
    color: #87af00;
  }
  
  .text-DarkOliveGreen3 {
    color: #87af5f;
  }
  
  .text-DarkSeaGreen {
    color: #87af87;
  }
  
  .text-LightSkyBlue3 {
    color: #87afaf;
    color: #87afd7;
  }
  
  .text-SkyBlue2 {
    color: #87afff;
  }
  
  .text-Chartreuse2 {
    color: #87d700;
  }
  
  .text-DarkOliveGreen3 {
    color: #87d75f;
  }
  
  .text-PaleGreen3 {
    color: #87d787;
  }
  
  .text-DarkSeaGreen3 {
    color: #87d7af;
  }
  
  .text-DarkSlateGray3 {
    color: #87d7d7;
  }
  
  .text-SkyBlue1 {
    color: #87d7ff;
  }
  
  .text-Chartreuse1 {
    color: #87ff00;
  }
  
  .text-LightGreen {
    color: #87ff5f;
    color: #87ff87;
  }
  
  .text-PaleGreen1 {
    color: #87ffaf;
  }
  
  .text-Aquamarine1 {
    color: #87ffd7;
  }
  
  .text-DarkSlateGray1 {
    color: #87ffff;
  }
  
  .text-Red3 {
    color: #af0000;
  }
  
  .text-DeepPink4 {
    color: #af005f;
  }
  
  .text-MediumVioletRed {
    color: #af0087;
  }
  
  .text-Magenta3 {
    color: #af00af;
  }
  
  .text-DarkViolet {
    color: #af00d7;
  }
  
  .text-Purple {
    color: #af00ff;
  }
  
  .text-DarkOrange3 {
    color: #af5f00;
  }
  
  .text-IndianRed {
    color: #af5f5f;
  }
  
  .text-HotPink3 {
    color: #af5f87;
  }
  
  .text-MediumOrchid3 {
    color: #af5faf;
  }
  
  .text-MediumOrchid {
    color: #af5fd7;
  }
  
  .text-MediumPurple2 {
    color: #af5fff;
  }
  
  .text-DarkGoldenrod {
    color: #af8700;
  }
  
  .text-LightSalmon3 {
    color: #af875f;
  }
  
  .text-RosyBrown {
    color: #af8787;
  }
  
  .text-Grey63 {
    color: #af87af;
  }
  
  .text-MediumPurple2 {
    color: #af87d7;
  }
  
  .text-MediumPurple1 {
    color: #af87ff;
  }
  
  .text-Gold3 {
    color: #afaf00;
  }
  
  .text-DarkKhaki {
    color: #afaf5f;
  }
  
  .text-NavajoWhite3 {
    color: #afaf87;
  }
  
  .text-Grey69 {
    color: #afafaf;
  }
  
  .text-LightSteelBlue3 {
    color: #afafd7;
  }
  
  .text-LightSteelBlue {
    color: #afafff;
  }
  
  .text-Yellow3 {
    color: #afd700;
  }
  
  .text-DarkOliveGreen3 {
    color: #afd75f;
  }
  
  .text-DarkSeaGreen3 {
    color: #afd787;
  }
  
  .text-DarkSeaGreen2 {
    color: #afd7af;
  }
  
  .text-LightCyan3 {
    color: #afd7d7;
  }
  
  .text-LightSkyBlue1 {
    color: #afd7ff;
  }
  
  .text-GreenYellow {
    color: #afff00;
  }
  
  .text-DarkOliveGreen2 {
    color: #afff5f;
  }
  
  .text-PaleGreen1 {
    color: #afff87;
  }
  
  .text-DarkSeaGreen2 {
    color: #afffaf;
  }
  
  .text-DarkSeaGreen1 {
    color: #afffd7;
  }
  
  .text-PaleTurquoise1 {
    color: #afffff;
  }
  
  .text-Red3 {
    color: #d70000;
  }
  
  .text-DeepPink3 {
    color: #d7005f;
    color: #d70087;
  }
  
  .text-Magenta3 {
    color: #d700af;
    color: #d700d7;
  }
  
  .text-Magenta2 {
    color: #d700ff;
  }
  
  .text-DarkOrange3 {
    color: #d75f00;
  }
  
  .text-IndianRed {
    color: #d75f5f;
  }
  
  .text-HotPink3 {
    color: #d75f87;
  }
  
  .text-HotPink2 {
    color: #d75faf;
  }
  
  .text-Orchid {
    color: #d75fd7;
  }
  
  .text-MediumOrchid1 {
    color: #d75fff;
  }
  
  .text-Orange3 {
    color: #d78700;
  }
  
  .text-LightSalmon3 {
    color: #d7875f;
  }
  
  .text-LightPink3 {
    color: #d78787;
  }
  
  .text-Pink3 {
    color: #d787af;
  }
  
  .text-Plum3 {
    color: #d787d7;
  }
  
  .text-Violet {
    color: #d787ff;
  }
  
  .text-Gold3 {
    color: #d7af00;
  }
  
  .text-LightGoldenrod3 {
    color: #d7af5f;
  }
  
  .text-Tan {
    color: #d7af87;
  }
  
  .text-MistyRose3 {
    color: #d7afaf;
  }
  
  .text-Thistle3 {
    color: #d7afd7;
  }
  
  .text-Plum2 {
    color: #d7afff;
  }
  
  .text-Yellow3 {
    color: #d7d700;
  }
  
  .text-Khaki3 {
    color: #d7d75f;
  }
  
  .text-LightGoldenrod2 {
    color: #d7d787;
  }
  
  .text-LightYellow3 {
    color: #d7d7af;
  }
  
  .text-Grey84 {
    color: #d7d7d7;
  }
  
  .text-LightSteelBlue1 {
    color: #d7d7ff;
  }
  
  .text-Yellow2 {
    color: #d7ff00;
  }
  
  .text-DarkOliveGreen1 {
    color: #d7ff5f;
    color: #d7ff87;
  }
  
  .text-DarkSeaGreen1 {
    color: #d7ffaf;
  }
  
  .text-Honeydew2 {
    color: #d7ffd7;
  }
  
  .text-LightCyan1 {
    color: #d7ffff;
  }
  
  .text-Red1 {
    color: #ff0000;
  }
  
  .text-DeepPink2 {
    color: #ff005f;
  }
  
  .text-DeepPink1 {
    color: #ff0087;
    color: #ff00af;
  }
  
  .text-Magenta2 {
    color: #ff00d7;
  }
  
  .text-Magenta1 {
    color: #ff00ff;
  }
  
  .text-OrangeRed1 {
    color: #ff5f00;
  }
  
  .text-IndianRed1 {
    color: #ff5f5f;
    color: #ff5f87;
  }
  
  .text-HotPink {
    color: #ff5faf;
    color: #ff5fd7;
  }
  
  .text-MediumOrchid1 {
    color: #ff5fff;
  }
  
  .text-DarkOrange {
    color: #ff8700;
  }
  
  .text-Salmon1 {
    color: #ff875f;
  }
  
  .text-LightCoral {
    color: #ff8787;
  }
  
  .text-PaleVioletRed1 {
    color: #ff87af;
  }
  
  .text-Orchid2 {
    color: #ff87d7;
  }
  
  .text-Orchid1 {
    color: #ff87ff;
  }
  
  .text-Orange1 {
    color: #ffaf00;
  }
  
  .text-SandyBrown {
    color: #ffaf5f;
  }
  
  .text-LightSalmon1 {
    color: #ffaf87;
  }
  
  .text-LightPink1 {
    color: #ffafaf;
  }
  
  .text-Pink1 {
    color: #ffafd7;
  }
  
  .text-Plum1 {
    color: #ffafff;
  }
  
  .text-Gold1 {
    color: #ffd700;
  }
  
  .text-LightGoldenrod2 {
    color: #ffd75f;
    color: #ffd787;
  }
  
  .text-NavajoWhite1 {
    color: #ffd7af;
  }
  
  .text-MistyRose1 {
    color: #ffd7d7;
  }
  
  .text-Thistle1 {
    color: #ffd7ff;
  }
  
  .text-Yellow1 {
    color: #ffff00;
  }
  
  .text-LightGoldenrod1 {
    color: #ffff5f;
  }
  
  .text-Khaki1 {
    color: #ffff87;
  }
  
  .text-Wheat1 {
    color: #ffffaf;
  }
  
  .text-Cornsilk1 {
    color: #ffffd7;
  }
  
  .text-Grey100 {
    color: #ffffff;
  }
  
  .text-Grey3 {
    color: #080808;
  }
  
  .text-Grey7 {
    color: #121212;
  }
  
  .text-Grey11 {
    color: #1c1c1c;
  }
  
  .text-Grey15 {
    color: #262626;
  }
  
  .text-Grey19 {
    color: #303030;
  }
  
  .text-Grey23 {
    color: #3a3a3a;
  }
  
  .text-Grey27 {
    color: #444444;
  }
  
  .text-Grey30 {
    color: #4e4e4e;
  }
  
  .text-Grey35 {
    color: #585858;
  }
  
  .text-Grey39 {
    color: #626262;
  }
  
  .text-Grey42 {
    color: #6c6c6c;
  }
  
  .text-Grey46 {
    color: #767676;
  }
  
  .text-Grey50 {
    color: #808080;
  }
  
  .text-Grey54 {
    color: #8a8a8a;
  }
  
  .text-Grey58 {
    color: #949494;
  }
  
  .text-Grey62 {
    color: #9e9e9e;
  }
  
  .text-Grey66 {
    color: #a8a8a8;
  }
  
  .text-Grey70 {
    color: #b2b2b2;
  }
  
  .text-Grey74 {
    color: #bcbcbc;
  }
  
  .text-Grey78 {
    color: #c6c6c6;
  }
  
  .text-Grey82 {
    color: #d0d0d0;
  }
  
  .text-Grey85 {
    color: #dadada;
  }
  
  .text-Grey89 {
    color: #e4e4e4;
  }
  
  .text-Grey93 {
    color: #eeeeee;
  }